
* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #fefae0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav{
    background-color: #283618;
    width: 100vw;
    color: #fefae0;
    display: flex;
    height: 15vh;
}


.box{
    margin: auto;
    border: 2px solid #fefae000;
    background-color: #283618ca;
    text-align: center;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    border-radius: 70px;
}

div>input{
    padding: 5px 10px;
    margin-bottom: 23px;
    border-radius: 70px;
}

.modelName{
    font-size: 30px;
    padding-top: 2vh;
    font-weight: bolder;
    text-shadow: #283618;
    color: #11180a;
}

.formtag{
    color: #878b76;
    font-weight: bold;
    font-size: 20px;
    margin: 23px ;
}

button{
    margin: 40px;
    padding: 10px 20px;
    border: 2px solid #bfecf4;
    background-color: #bfecf4;
    color: #023e8a;
    font-size: 12px;
    font-weight: bold;
    border-radius: 100px;
}

button:hover{
    background-color: #77aaec;
    border: 2px solid #77aaec ;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: #818b5f;
    position: relative;
    bottom: 15px;
    margin: auto;
}

.hero{
    height: 100vh;
    width: 100vw;
    background-image: url(pexels-photo-96715.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}




#logo {
    height: 5vw;
    width: 5vw;
    align-items: center;
    padding: .5vw 1vw;
}

.navText{
    padding-left: 15vw;
    padding-top: 2vw;
    list-style: none;
    background: #283618;
    font-size: 10px;
}

#google_translate_element{
    padding-top: 2vw;
}



ul>li {
    display: inline-block;
    position: relative;
}

ul>li>a {
    display: block;
    padding: 20px 25px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

ul>li>ul.dropdown>li {
    font-size: 8px;
    padding: 0px 2vw;
}

ul>li>ul.dropdown {
    border-radius: 15px;
    background: #22301799;
    position: absolute;
    z-index: 999;
    display: none;
}

ul>li>a:hover {
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    width: fit-content;
    cursor: pointer;
    border-bottom-color: #F7C35F;
}

ul>li:hover>ul.dropdown {
    display: block;
}