* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #fefae0;
}

header {
    text-align: center;
    color: #fefae0;
    background-color: #283618;
    font-size: 50px;
    padding: 23px;
    padding-bottom: 50px;
}

nav{
    background-color: #283618;
    color: #818b5f;
    font-family: "Roboto", sans-serif;

}
nav>ul {
    list-style: none;
    display: flex;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

nav>ul>a {
    margin: auto;
    padding: 0px 23px;
    font-family: "Roboto", sans-serif;
}

img{
    width: 100vw;
    height: 100vh;
    opacity: .4;
}

.image{
    border-top: 2px solid #818b5f ;
    background-color: black;
}

.box{
    margin: auto;
    border: 2px solid #fefae000;
    background-color: #fefae075;
    text-align: center;
    position: relative;
    bottom: 650px;
    width: 30vw;
    border-radius: 70px;
    font-family: "Roboto", sans-serif;
}

div>input{
    padding: 5px;
    margin-bottom: 23px;
    font-family: "Roboto", sans-serif;
}

.formtag{
    color: #283618;
    font-weight:bold;
    font-size: 20px;
    margin: 23px ;
    font-family: "Roboto", sans-serif;
}

button{
    margin: 40px;
    padding: 10px 20px;
    border: 2px solid #bfecf4;
    background-color: #bfecf4;
    color: #023e8a;
    font-size: 12px;
    font-weight: bold;
    border-radius: 100px;
    font-family: "Roboto", sans-serif;
}

button:hover{
    background-color: #77aaec;
    border: 2px solid #77aaec ;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: #818b5f;
    position: relative;
    bottom: 15px;
    margin: auto;
}